<!DOCTYPE html>
<html>
	<head>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
		<script src="Yii.js"></script>
	</head>
	<body>
		<script type="text/template" id="woof-template">
			<div>
				<p><h1>Movies</h1></p>
				
				<% _.each(collection , function(movie) { %>
					<img src="<%= movie.img_url %>" width="100" height="100" style="border-width:1px;border-style:solid"></img>
					<p><b>ID:</b> <%= movie.id %></p>
					<p><b>Title:</b> <%= movie.title %></p>
				<% }); %>
				
				<p><button type="submit" id="hello">Click me</button></p>
				<p><button type="submit" id="goodbye">Click me</button></p>
			</div>
		</script>
		
		<div id="viewer"></div>

		<script>
			var MyView = Yii.View.extend({
				id: 'viewer',

				template: $('#woof-template').html(),

				events: {
					'click #hello': 'woof',
					'click #goodbye': 'meow'
				},

				woof: function() {
					alert('Hello World!');
				},

				meow: function() {
					alert('Goodbye World!');
				},

				initialize: function() {
					this.subscribe('fetch', this, function(attributes) {
						console.log('fetch trigger');
						this.model = attributes;
						this.render();
					});
				}
			});

			var MyModel = Yii.Model.extend({
				url: 'http://cs3213.herokuapp.com/movies.json'
			});

			var MyRouter = Yii.Router.extend({
				initialize: function() {
					this.myView = new MyView();

					this.myModel = new MyModel();
				},

				routes: {
					'': 'movie',
				},

				movie: function() {
					console.log('route trigger');

					this.myModel.fetch({
						success: function() {
							console.log('success');
						}
					});
				}
			});

			var router = new MyRouter();
			router.start();
		</script>
	</body>
</html>